
/* --------------------- TOPES Released 0000.00.00 --------------------- */
/* --------------------- Published by 4m Creative --------------------- */


@charset "utf-8";

/* reset */
* {margin:0; padding:0; box-sizing:border-box !important;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, hgroup, header, footer, figure, figcaption, nav, section { margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent; }
article, aside, hgroup, header, footer, figure, figcaption, nav, section {display:block;}
html, body {font-size:62.5%;font-family: 'NS'; font-weight: 200; color:#000; line-height:1.2; box-sizing:border-box; -webkit-text-size-adjust:none;overflow-x: hidden;}
h1, h2, h3, h4, h5, h6 {font-weight:normal; line-height:normal; word-break:keep-all;}
fieldset {border:none;}
ol, li {list-style:none; zoom:1;}
span, p, a, div, em {word-break:keep-all;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';}
table {border-collapse:collapse; border-spacing:0; table-layout:fixed;}
button {margin:0; padding:0; border:0; font:inherit; color:inherit; background:transparent; overflow:visible; cursor:pointer; line-height:1;}
a {color:#222;}
a:link, a:visited, a:hover, a:active, a:focus {text-decoration:none;}
legend, caption {display:none;}
textarea {resize:vertical; font:inherit; overflow-y:auto;}
input, select {color:inherit; font:inherit; color:#222;}
input::-ms-clear {display:none;}
input:disabled {background:#f5f5f5 !important; -webkit-text-fill-color: inherit; opacity:1;}
button, input, select, textarea {vertical-align:top; font-family:inherit; outline-style:none; line-height:normal;}
button, button:focus, button:active {padding:0;}
label {vertical-align:middle; cursor:pointer;}
address, i, em {display:inline; font-style:normal; zoom:1;}
table {width:100%; border-collapse:collapse; table-layout:fixed;}
img, select, input, button {vertical-align:top;}
img {perspective:none; -ms-perspective:none; -o-perspective:none; -webkit-perspective:none; -moz-perspective:none;}
br {font-family:dotum !important;}
br.br_t, br.br_m {display: none;}
.img_m {display: none;}

/* skip navigation   */
.skip_navigation {position:relative; overflow:hidden; width:100%; margin:0 auto;}
.skip_navigation a {display:block; background:#000; overflow:hidden; width:0; height:0; margin:0 -1px -2px 0; font-weight:bold; font-size:11px; text-align:center;}
.skip_navigation a:hover, .skip_navigation a:focus, .skip_navigation a:active {width:auto; height:20px; margin:0; padding-top:5px; line-height:1; text-decoration:none; color:#FFF; outline:0;}

/* common */
.wrap {position: relative; width: 100%;}
.blind {display: none !important;}
.inner {margin: 0 auto;}
.acc_blind{position: absolute; width: 1px; height: 1px; clip: rect(0 0 0 0); overflow: hidden;}
.br_t,.br_m, 
.indent { display: none; }

/*popup*/


/* selectbox */
.select_row {display: inline-block;position: relative;width: 100%;height: 6rem;border: .1rem solid #ccc;vertical-align: middle;}
.select_row:after {content: "";display: block;position: absolute;right: 3rem;top: 50%;transform: translateY(-50%);width: 1.9rem;height: 1rem;background:url(../images/cs/faq_arrow_close.png) 0 0 no-repeat;background-size: 100% 100%;}
.select_row.on:after {transform: rotate(180deg) translateY(50%);}
.select_row label {position: absolute;top: 0;left: 0;width: 100%;height: 6rem;line-height: 6rem;padding: 0 2rem;font-size: 1.4rem;color: #555;}
.select_row select {width: 100%;height: 6rem;line-height: 6rem;padding: 0 1rem;opacity: 0;}
.select_row select option {font-size: 1.4rem;font-weight: 200;}

/* input */
.input_row {display: inline-block;position: relative;width: 100%;overflow: hidden;vertical-align:middle;}
.input_row input {position: relative;display: block;padding: 0 2.2rem;width: 100%;height: 6rem;overflow: hidden;background: #fff;font-size: 1.4rem;font-weight: 200;line-height: 1.2;-webkit-appearance: none;-moz-appearance: none;appearance: none;border: .1rem solid #ccc;-webkit-border-radius: 0;border-radius: 0;}
.input_row input::placeholder,
.input_row input::-webkit-input-placeholder,
.input_row input::-ms-input-placeholder {font-weight: 100;color: #808080;}
.input_row input[readonly] {background: #f5f5f5;}
.input_row input[disabled] {background: #f5f5f5;}
.input_search:after {content: "";display: block;clear: both;}
.input_search input {display: block;float: left;width: 33rem;height: 4.6rem; border:0; position: relative;font-size: 1.3rem;color: #808080;font-weight: 100;}
.input_search a {position: absolute;top: 1.3rem;right: 0;}
.input_search a img:first-child { display: block; }
.input_search a img:last-child { display: none; }

/* textarea */
.area_row {display: inline-block;position: relative;width: 100%;height: 37rem;}
.area_row textarea {width: 100%;height: 100%;padding: 2rem;font-size: 1.4rem;line-height: 1.4;border: .1rem solid #e8e8e8;-webkit-appearance: none;outline-style: none;resize: none;}
.area_row textarea::placeholder {font-weight: 200;color: #b2b2b2;}

/* check box type */
.checkbox_row {display: inline-block;position: relative;}
.checkbox_row input[type="checkbox"] {display: none;}
.checkbox_row input[type="checkbox"] + label {display: block;position: relative;font-size: 1.4rem;color: #555;cursor: pointer;}
.checkbox_row input[type="checkbox"] + label:before {content: "";display: inline-block;margin-right: 1rem;width: 2rem;height: 2rem;border: .2rem solid #999;vertical-align: top;box-sizing: border-box;}
.checkbox_row input[type="checkbox"]:checked + label:before {content: "";background:url(../images/common/check_bg.png) 0 0 no-repeat;background-size: 100% 100%;}

/* file */
.file_row {display: inline-block;vertical-align: middle;}
.file_row:after {content: "";display: block;clear: both;}
.file_row input[type="file"] {position: absolute;width: 0;height: 0;padding: 0;overflow: hidden;border: 0;}
.file_row label {display: block;float: left;width: 12rem;height: 5rem;line-height: 5rem;font-size: 1.4rem;color: #444;text-align: center;cursor: pointer;border: .1rem solid #e8e8e8;}
.file_row .upload_name {display: block;float: left;width: calc(100% - 12rem);height: 5rem;font-size: 1.4rem;color: #b2b2b2;padding: 0 2rem; border: .1rem solid #e8e8e8;border-left: 0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

/* button */


/* header */
.header {position: fixed;top: 0;left: 0;background: transparent;width: 100%;height: 8rem;line-height: 8rem;font-weight: 300;z-index:1002;color: #fff; transition: all ease .3s;}
.header.fixed {background: #fff;color: #222; }
.header.site {background: transparent;color: #222; }
.header .header_wrap {width: calc(100% - 10rem); /* max-width: 174rem; */ height: 100%;margin: 0 auto;}
.header .header_wrap:after {content: "";display: block;clear: both;}
.header h1 {position: relative;float: left;padding-top: 2.6rem;z-index: 2;}
.header h1 a {display: inline-block;vertical-align: middle;font-size: 0;}
.header h1 .logo {background: url(../images/common/header_logo.png) 0 0 no-repeat;width: 12rem;height: 2.8rem;}
.header.fixed h1 .logo, .header.site h1 .logo, .header.main_fixed h1 .logo {background: url(../images/common/header_logo_c.png) 0 0 no-repeat;}
.header .gnb {position: absolute;top: 0;/* left: 42.9rem; */left: 22rem; width: calc(100% - 62.4rem); height: 100%;text-align: center;}
.header.site .gnb {display: none;}
.header .gnb>ul {display: flex;justify-content: center;}
.header .gnb>ul>li {position: relative;}
.header .gnb>ul>li .gnb_tit {display: block;padding: 0 4rem;position: relative;font-size: 1.85rem;font-weight: 300;color: #fff;}
.header.fixed .gnb>ul>li .gnb_tit, .header.main_fixed .gnb>ul>li .gnb_tit {color: #222;}
.header .gnb>ul>li:hover .gnb_tit {background: #050f5e;box-sizing: border-box;}
.header.fixed .gnb>ul>li:hover .gnb_tit, .header.main_fixed .gnb>ul>li:hover .gnb_tit {color: #fff;}
.header .gnb>ul>li .depth_box {position: absolute;top: 8rem;left: 0;background: #050f5e;width: 100%;box-shadow: 3px 3px 5px rgba(0,0,0,.05);height: 0;overflow:hidden;transition: all .3s;}
.header .gnb>ul>li:hover .depth_box {height: auto;padding: 1.5rem 0 2.5rem 0;}
.header .gnb>ul>li .depth_box:before {content:'';display: inline-block;width: calc(100% - 4rem);height: .1rem;background: #fff;opacity: .1;position:absolute;top:0;left:2rem;}
.header .gnb>ul>li .depth_box .depth_wrap:after {content: "";display: block;clear: both;}
.header .gnb>ul>li .depth_box .depth_list {position: relative;line-height: normal;/* float: left;margin-left: 8rem;line-height: normal;text-align: left; */}
.header .gnb>ul>li .depth_box .depth_list .list_tit {display: block;position: relative;font-size: 1.5rem;margin: 1.5rem 0;color: #fff;font-weight: 200;opacity:.6;}
.header .gnb>ul>li .depth_box .depth_list .list_tit:hover {opacity: 1;}
.header .gnb>ul>li .depth_box .depth_list.active .list_tit {font-weight: 400;color:#ea002c;}

/********** 사이트맵 클릭 시 transition 모음 **********/
.header .lang_select .lang_choice.on li a {color: #222; opacity: .3;}
.header.on { left: auto; right: 0; background: transparent; box-shadow: none; }
.header_wrap h1.off, .header_wrap .gnb.off { display: none; }
.header .gnb_menu {position: relative;float: right;z-index: 2;}
.header .lang_select {display: inline-block;position: relative;vertical-align: middle;}
.header .lang_select .lang_choice {width: auto;height: 3.4rem;line-height: 3.4rem;text-align: center;border: 1px solid rgba(255, 255, 255,.5);border-radius: .4rem;}
.header.fixed .lang_select .lang_choice, .header.site .lang_select .lang_choice {border-color: #ccc;}
.header .lang_select .lang_choice li {display: inline-block;margin: 0 2.5rem;}
.header .lang_select .lang_choice li:first-child {position: relative;}
.header .lang_select .lang_choice li:first-child:after {content:'';display: inline-block;width: 0.1rem;height: 1rem;background: rgba(255,255,255,.5);position: absolute;top:1.1rem;right: -2.5rem;}
.header.fixed .lang_select .lang_choice li:first-child:after, .header.site .lang_select .lang_choice li:first-child:after {background: #e5e5e5;}
.header .lang_select .lang_choice li a {display: inline-block;font-weight: 400;font-size: 1.4rem;color: #fff;opacity: .5; transition:all ease .3s;font-family: 'play'; }
.header .lang_select .lang_choice li.on a {opacity: 1;}
.header.fixed .lang_select .lang_choice li a, .header.site .lang_select .lang_choice li a, .header.main_fixed .lang_select .lang_choice li a {color: #222; opacity: .3;}
.header.fixed .lang_select .lang_choice li.on a, .header.site .lang_select .lang_choice li.on a, .header.main_fixed .lang_select .lang_choice li.on a {color: #e0006d; opacity: 1;}
.header .top_sitemap {display: inline-block;vertical-align: middle;margin-left: 5rem; cursor: pointer;}
.header .top_sitemap > div{font-family: 'play'; font-size: 16px; font-weight: 400; color: #fff; display: inline-block; transform: translateY(0); transition: 0.5s transform; }
.header.fixed .top_sitemap > div, 
.header.site .top_sitemap > div {color: #050f5e; }
.header .top_sitemap button{vertical-align: middle; height: 2rem; display: inline-flex; flex-direction: column; justify-content: space-between; position: relative;}
.header .top_sitemap button span{width: 3rem; height: .2rem; margin-bottom: .7rem; position: relative; overflow: hidden; margin-left: 1rem; }
.header .top_sitemap button span:nth-child(2) { width: 2.2rem;margin-left: 1.8rem; }
.header .top_sitemap button span:last-child {margin-bottom: 0;}

/* header top sitemap button animation*/
.header .top_sitemap button span::before , .header .top_sitemap button span::after{ transition-duration: 0.25s; transition-property: transform; }
.header.fixed .top_sitemap button span::before, .header.fixed .top_sitemap button span::after,
.header.site .top_sitemap button span::before, .header.site .top_sitemap button span::after,
.header.main_fixed .top_sitemap button span::before, .header.main_fixed .top_sitemap button span::after { background-color: #050f5e; transition:all ease .3s; }
.header .top_sitemap button span::before{content: ''; width: 100%; height: 100%; background-color: #fff; display: block; transform: translateX(0);}
.header .top_sitemap button span::after{content: ''; width: 100%; height: 100%; background-color: #fff; position: absolute; left: 0; top: 0; transform: translateX(100%);}
.header.fixed .top_sitemap button span::before {background-color: #050f5e;}
.header .top_sitemap:not(.on) button span:nth-child(1)::before{transition-delay: 0.2s;}
.header .top_sitemap:not(.on) button span:nth-child(1)::after{transition-delay: 0s;}
.header .top_sitemap:not(.on) button span:nth-child(2)::before{transition-delay: 0.3s;}
.header .top_sitemap:not(.on) button span:nth-child(2)::after{transition-delay: 0.1s;}
.header .top_sitemap:not(.on) button span:nth-child(3)::before{transition-delay: 0.4s;}
.header .top_sitemap:not(.on) button span:nth-child(3)::after{transition-delay: 0.2s;}
.header .top_sitemap:not(.on):hover button span::before{transform: translateX(-100%);}
.header .top_sitemap:not(.on):hover button span::after{transform: translateX(0%);}
.header .top_sitemap:not(.on):hover button span:nth-child(1)::before{transition-delay: 0s;}
.header .top_sitemap:not(.on):hover button span:nth-child(1)::after{transition-delay: 0.2s;}
.header .top_sitemap:not(.on):hover button span:nth-child(2)::before{transition-delay: 0.1s;}
.header .top_sitemap:not(.on):hover button span:nth-child(2)::after{transition-delay: 0.3s;}
.header .top_sitemap:not(.on):hover button span:nth-child(3)::before{transition-delay: 0.2s;}
.header .top_sitemap:not(.on):hover button span:nth-child(3)::after{transition-delay: 0.4s;}
.header .top_sitemap.on {z-index: 101; transition-delay: 0s; transition-duration: 0s;}
.header .top_sitemap button span:nth-child(1){animation:manuAnimate01_1 0.8s forwards;}
.header .top_sitemap button span:nth-child(2){animation:manuAnimate02_1 0.8s forwards;}
.header .top_sitemap button span:nth-child(3){animation:manuAnimate03_1 0.8s forwards;}
.header .top_sitemap.on button span:nth-child(1){animation:manuAnimate01 0.8s forwards;}
.header .top_sitemap.on button span:nth-child(2){animation:manuAnimate02 0s forwards;}
.header .top_sitemap.on button span:nth-child(3){animation:manuAnimate03 0.8s forwards;}
@keyframes manuAnimate01 { 0%{transform: translateY(0px) rotate(0deg);} 50%{transform: translateY(9px) rotate(0deg);} 100%{transform: translateY(9px) rotate(45deg);} }
@keyframes manuAnimate01_1 { 0%{transform: translateY(9px) rotate(45deg);} 50%{transform: translateY(9px) rotate(0deg);} 100%{transform: translateY(0px) rotate(0deg);} }
@keyframes manuAnimate02 { 0%{opacity: 1;} 100%{opacity: 0;} }
@keyframes manuAnimate02_1 { 0%{opacity: 0;} 100%{opacity: 1;} }
@keyframes manuAnimate03 { 0%{transform: translateY(0px) rotate(0deg);} 50%{transform: translateY(-9px) rotate(0deg);} 100%{transform: translateY(-9px) rotate(135deg);} }
@keyframes manuAnimate03_1 { 0%{transform: translateY(-9px) rotate(135deg);} 50%{transform: translateY(-9px) rotate(0deg);} 100%{transform: translateY(0px) rotate(0deg);} }

/* 
.header .m_gnb {display: none;}
.header .m_gnb .m_menu {float: right;}
.header .m_gnb .top_sitemap {display: inline-block;vertical-align: middle;}
.header .m_gnb .top_sitemap i {display: block;position: relative;background: #222;width: 2.5rem;height: .2rem;margin-top: .6rem;}
.header .m_gnb .top_sitemap i:first-child {margin-top:0;}
.header.trans .m_gnb .top_search .btn_search {background: url(../images/common/icon_search_m_w.png) 0 0 no-repeat;background-size: 100% 100%;}
.header.trans .m_gnb .top_sitemap i {background: #222;}
*/

/* sitemap */
.sitemap { width:100%; height: 100vh; position: fixed; top: -100vh; z-index: 1001; left: 0; transition:.4s top .2s; background: #fff url(../images/common/sitemap_bg.png) no-repeat calc(100% - 5.2vw) calc(100% - 18.5rem);}
.sitemap.on, .sitemap_bg.on { top: 0; transition-delay: 0s; }
.sitemap .site_wrap_scroll {height: 100%;}
.sitemap .sitemap_wrap { display: flex; flex-direction: column; justify-content: center; width: calc(100% - 12.5vw); height: 100%; margin-left: auto; position: relative; z-index: 1; }
.sitemap .sitemap_wrap li {display: block; width: auto;}
.sitemap .sitemap_wrap li h2 {width: 42%; /* padding-left: 10rem; */}
.sitemap.on .sitemap_wrap li h2 > a {color: #222222;}
.sitemap.on .sitemap_wrap li h2 > a.col_g {color: #222222; opacity: .3;}
.sitemap .sitemap_wrap li h2 > a {display: block; font-size: 3rem; font-weight: 400; color: #222; padding: 2rem 0 2rem 5.20vw; word-break: break-word;}
.sitemap .sitemap_wrap li h2 > a:before {content:''; display: none; width: 8rem; height: .4rem; margin-bottom: 1rem;}
.sitemap .sitemap_wrap li:hover h2 > a:before , .sitemap .sitemap_wrap li.on h2 > a:before {display: block;} 
.sitemap .sitemap_wrap li:nth-child(1) h2 > a:before {background: #febf00;}
.sitemap .sitemap_wrap li:nth-child(2) h2 > a:before {background: #ff8400;}
.sitemap .sitemap_wrap li:nth-child(3) h2 > a:before {background: #1773c1;}
.sitemap .sitemap_wrap li:nth-child(4) h2 > a:before {background: #16c7d2;}
.sitemap .sitemap_wrap li:nth-child(5) h2 > a:before {background: #e0006d;}
.sitemap .sitemap_wrap li:nth-child(6) h2 > a:before {background: #050f5e;}
/* .sitemap .sitemap_wrap li:last-child h2 > a {padding: 2rem 0 0 10rem;} */
.sitemap .sitemap_wrap li:hover h2 > a {opacity: 1; font-size: 5rem; white-space: nowrap;} 
.sitemap .sitemap_wrap li .depth_box {display: none; width: 50%; height: 100%;background: #fcfcfc; box-shadow: inset 6px 0px 6px 0px rgba(0, 0, 0, 0.04); position: absolute; left: 50%; top:0;}
.sitemap .sitemap_wrap li:hover .depth_box  {display: table; }
.sitemap .sitemap_wrap li .depth_wrap {display: table-cell; vertical-align: middle; padding-left: 13vw;}
.sitemap .sitemap_wrap li .depth_wrap .depth_list a {font-size: 2.2rem; font-weight: 300; color: #222; line-height: 3.45;}
.sitemap .sitemap_wrap li:nth-child(1) .depth_wrap .depth_list a:hover, .sitemap .sitemap_wrap li:nth-child(1) .depth_wrap .depth_list a.on {color: #febf00;}
.sitemap .sitemap_wrap li:nth-child(2) .depth_wrap .depth_list a:hover, .sitemap .sitemap_wrap li:nth-child(2) .depth_wrap .depth_list a.on {color: #ff8400;}
.sitemap .sitemap_wrap li:nth-child(3) .depth_wrap .depth_list a:hover, .sitemap .sitemap_wrap li:nth-child(3) .depth_wrap .depth_list a.on {color: #1773c1;}
.sitemap .sitemap_wrap li:nth-child(4) .depth_wrap .depth_list a:hover, .sitemap .sitemap_wrap li:nth-child(4) .depth_wrap .depth_list a.on {color: #16c7d2;}
.sitemap .sitemap_wrap li:nth-child(5) .depth_wrap .depth_list a:hover, .sitemap .sitemap_wrap li:nth-child(5) .depth_wrap .depth_list a.on {color: #e0006d;}
.sitemap .sitemap_wrap li:nth-child(6) .depth_wrap .depth_list a:hover, .sitemap .sitemap_wrap li:nth-child(6) .depth_wrap .depth_list a.on {color: #050f5e;}




/* container*/
.container .sub_visual {position: relative; width: 100%; height: 66rem; background:#212620; display: flex; flex-direction: column;  }
.container .sub_visual .sub_visual_nav { width: 100%; height: 100%; max-width: 160rem; z-index: 10; position: relative; left: 50%; transform: translateX(-50%);}
.container .sub_visual .sub_visual_nav h2 { position: absolute; left: 50%; top: 55%; transform: translate(-50%, -50%); font-size: 6rem; color: #fff; font-weight: 400; line-height: 1; text-align: center; }
.container .sub_visual .sub_visual_nav h2 span { font-size: 1.8rem; display: block; text-align: center; color: #ffa200; text-transform: uppercase; font-family: 'play'; letter-spacing: .05rem; padding-bottom: 2.5rem; }
.container .sub_visual .sub_visual_nav div { position: absolute; top: 60%; transform: translateY(-50%); }
.container .sub_visual .sub_visual_nav div:hover { max-width: 50rem;}
.container .sub_visual .sub_visual_nav div a { position: relative; display: block; width: 100%; height: 100%; font-family: 'play'; font-size: 1.6rem; letter-spacing: .05rem; }
.container .sub_visual .sub_visual_nav div a:before { content: ''; width: 5rem; height: 5rem; border: .1rem solid rgba(255, 255, 255, .2); position: absolute; top: 50%; transform: translateY(-50%); border-radius: 6rem; transition:all ease .3s; }
.container .sub_visual .sub_visual_nav div:hover a:before { border: .1rem solid #fff; }
.container .sub_visual .sub_visual_nav .sub_visual_nav_next a:before { right: 0; }
.container .sub_visual .sub_visual_nav div a img { vertical-align: baseline; padding: 0 2.3rem; }
.container .sub_visual .sub_visual_nav div a span { color:#fff; display:inline-block; position: relative; line-height: normal; font-weight: 400; padding: 0 .7rem; }
.container .sub_visual .sub_visual_nav .sub_visual_nav_next { right:0; }
.container .sub_visual .sub_visual_nav .sub_visual_nav_prev { left:0; }
.container .sub_visual .sub_visual_menu { max-width: 144rem; margin: auto; width: 100%; z-index: 1; position: relative; }
.container .sub_visual .sub_visual_menu.fixed { max-width: 100%; position:fixed; top: 0rem; background: rgba(0, 0, 0, 0.4); }
.container .sub_visual .sub_visual_menu.fixed ul { max-width: 144rem; margin: auto; }
.container .sub_visual .sub_visual_menu.fixed ul li {background: none;}
.container .sub_visual .sub_visual_menu ul { display: flex; justify-content: space-around; }
.container .sub_visual .sub_visual_menu ul li { width: 100%; text-align: center; font-size: 2rem; height: 8rem; position:relative; background: rgba(0, 0, 0, 0.2); }
.container .sub_visual .sub_visual_menu ul li:not(:last-child) { border-right: .1rem solid rgba(255, 255, 255, .2); }
.container .sub_visual .sub_visual_menu ul li a { display: block; color: #fff; position: absolute; top:0; bottom:0; left:0; right:0; margin:auto; height:fit-content; }
.container .sub_visual .sub_visual_menu ul li.on { background: #fff; border-right: .1rem solid #fff; }
.container .sub_visual .sub_visual_menu ul li.on a { color: #000; font-weight: 300; }
.container .sub_visual .sub_visual_menu ul li.mobile { display: none; }
.contents .contents_inner { margin:14rem auto 20rem; max-width: 160rem; }
.contents .contents_inner .sub_contents {  margin: 0 auto;}
.contents .contents_inner .sub_contents .inner {max-width: 144rem;}
.contents .contents_inner .title { /* padding-bottom: 4rem; */ max-width: 144rem; margin: 0 auto 4rem; }
.contents .contents_inner .title h3 { font-size: 4rem; font-weight: 400; letter-spacing: -.1rem; line-height: 1; }
.contents .contents_inner .title h3.upper_line:before { content: ''; display: block; height: .4rem; margin:0 0 2rem .3rem; }
.contents .contents_inner .title p { padding-top: 4rem; font-size: 1.8rem; font-weight: 200; line-height: 1.7; color: #555555; letter-spacing: -.025rem; }
.contents .contents_inner .title p > b {font-weight: 400; color: #000;}
.contents .contents_inner .inner .tb_view { font-size:1.6rem; }
.contents .contents_inner .sec_tit h3 { line-height:1; }
.contents .paging {margin-top: 8rem;position: relative;text-align: center;}
.contents .paging > a {display: inline-block;vertical-align: middle;}
.contents .paging .front {width: 1.2rem;height: 1.2rem;background: url(../images/common/arrow_front.png) 0 0 no-repeat;background-size: 100% 100%;}
.contents .paging .prev {margin-left: 3.2rem;width: .7rem;height: 1.2rem;background: url(../images/common/arrow_prev.png) 0 0 no-repeat;background-size: 100% 100%;}
.contents .paging .next {margin-right: 3.2rem;width: .7rem;height: 1.2rem;background: url(../images/common/arrow_next.png) 0 0 no-repeat;background-size: 100% 100%;}
.contents .paging .last {width: 1.2rem;height: 1.2rem;background: url(../images/common/arrow_last.png) 0 0 no-repeat;background-size: 100% 100%;}
.contents .paging ul { margin: 0 3rem; display: inline-block; vertical-align: middle; }
.contents .paging ul:after { content: ""; display: block; clear: both; }
.contents .paging ul li { position: relative; float: left; margin: 0 1rem; }
.contents .paging ul li.active a { color: #e0006d; }
.contents .paging ul li a { display: block; width: 2.4rem; height: 2.4rem; line-height: 2.4rem; font-family: 'play'; font-size: 1.5rem; text-align: center; color: #222; }

/* footer */
.footer {position: relative;width: 100%; height: 45.2rem; padding-top: 7.4rem; background: #1b1a1b;}
.footer .footer_wrap {position: relative; margin: 0 auto; max-width: 144rem; font-size: 1.5rem; color: #fff;}
.footer .footer_wrap .footer_info > div {display: inline-block; line-height: 2.13; margin-right: 3rem; font-weight: 300;}
.footer .footer_wrap .footer_info > div > span:first-of-type {color: #999; margin-right: 1rem; font-weight: 200;}
.footer .footer_wrap .footer_info a {display: inline-block; color: #fff; width: auto; height: 2.4rem; padding: 0 2rem; border: 1px solid #fff; border-radius: .4rem; opacity: .5; text-align: center; line-height: 2.15rem; font-size: 1.2rem;}
.footer .footer_wrap .footer_contact {font-family: 'play'; padding-top: 4rem;}
.footer .footer_wrap .footer_contact > div {display: inline-block;margin-right: 2.8rem;}
.footer .footer_wrap .copyright {padding-top: 6rem;font-family: 'play'; font-weight: 200; opacity: .2; letter-spacing: .15rem;}
.footer .footer_wrap .copyright b {color: #22591b;}
#topButton {position: fixed; right: 12rem; bottom: 6rem; display: none; z-index: 999; width: 8rem; height: 8rem; background: #02072f; border-radius: 50%; font-family: 'play'; font-size: 1.5rem; font-weight: 400; line-height: 8rem; color: #fff; letter-spacing: .075rem; text-align: center;}
#topButton.on {position: absolute;}

/* privacy_policy */
#AB_contents { max-width: 120rem; width: 100%; margin: auto; }
.AB-text-clause .bx{padding:5rem 2rem 15rem; line-height:1.9; }
.AB-text-clause .bx h2{font-size:1.8rem; font-weight:bold; color:#000; font-weight:400; margin-bottom:10px; margin-top:30px;}
.AB-text-clause .bx h2:after { content: ''; width: 2.6rem; height: .2rem; display: block; background: #22591b; margin-top: .5rem; }
.AB-text-clause .bx h3{ padding:1.5rem 0 1.5rem 0; background:none;font-size:1.5rem; font-weight:400; }
.AB-text-clause .bx h3:before { content: '▶'; display: inline-block; color: #22591b; font-size: 1rem; position: relative; top: -.2rem; padding-right: .5rem; }
.AB-text-clause .bx p{color:#666; letter-spacing:-0.7px; font-size: 1.2rem;}


