.main_visual, .main_visual .swiper-wrapper {width: 100%; height: 100vh;}
.main_visual .swiper-slide {width: 100%; height: 100%; position: relative;}
.main_visual .swiper-slide:nth-of-type(1) {background: url(../images/main/main_visual01.png) no-repeat 50% 50%;background-size: cover;}
.main_visual .swiper-slide:nth-of-type(2) {background: url(../images/main/main_visual02.png) no-repeat 50% 50%;background-size: cover;}
.main_visual .swiper-slide:nth-of-type(3) {background: url(../images/main/main_visual03.png) no-repeat 50% 50%;background-size: cover;}
.main_visual .swiper-slide:nth-of-type(4) {background: url(../images/main/main_visual04.png) no-repeat 50% 50%;background-size: cover;}
.main_visual .swiper-slide > .vis_tag {font-family: 'play'; font-size: 1.8rem; font-weight: 400; position: absolute; left: 32.5rem; top: 32rem;}
.main_visual .swiper-slide:nth-of-type(1) > .vis_tag {color: #ffa200;}
.main_visual .swiper-slide:nth-of-type(2) > .vis_tag {color: #ffa200;}
.main_visual .swiper-slide:nth-of-type(3) > .vis_tag {color: #baff00;}
.main_visual .swiper-slide:nth-of-type(4) > .vis_tag {color: #00ffd8;}
.main_visual .swiper-slide > p {font-size: 5rem; font-weight: 50; color: #fff; line-height: 1.52; letter-spacing: -.375rem; position: absolute; left: 32rem; top: 50%; transform: translateY(-10rem);}
.main_visual .swiper-nav {display: flex; justify-content: space-between; position: absolute; top: 50%; transform: translateY(-50%); width: 100%;padding: 0 16rem;}
.main_visual .swiper-nav .arrow {width: 5rem; height: 5rem; border: 1px solid #fff; border-radius: 50%; cursor: pointer; position: relative;}
.main_visual .swiper-nav .arrow span {font-family: 'play'; font-weight: 400; font-size: 1.6rem; color: #fff; letter-spacing: .08rem; display: block; width: fit-content; line-height: 5rem;border: 1px solid #000; writing-mode: vertical-rl}
.main_visual .swiper-nav .swiper-button-prev span {}
.main_visual .swiper-nav .swiper-button-next span {}
.main_visual .swiper-nav .arrow img {position: absolute;left: 50%;transform: translateX(-50%);}

